@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;600&display=swap');


th {
    height: 70px;
    background: purple;
    color: white;
    text-align: left;
    padding: 10px;
    height: auto;
    font-size: 170%;        
}
   
tr:nth-child(even) {background: rgb(254,112,211)}

tr:nth-child(odd) {background: rgb(179, 70, 136)}

td {
    padding: 10px;
    font-size: larger;   
}

table {
    border-collapse: collapse;
    margin: 30px auto;
    width: 100%;
    color: white;
         
}

th, td, tr {
    border: 2px solid white;
    margin: 30px; 
    font-family:Titillium Web; 
    height: 50px;
    width: 70px;
}